<form>
	<div class="item">
		<div class="content">
	    	<h1 class="herotext"><strong>Solo unos Datos para Contactarnos..</strong></h1>
			<h2 class="ui statistic">Y pronto atenderemos y le responderemos.</h2>
	    </div>
	</div>
<div class="ui clearing divider"></div>
 <div class="ui two column relaxed grid">
  <div class="column">
    <div class="ui fluid form segment">
      <h3 class="ui header">Mensaje a enviar:</h3>
       <div class="field">
        <h2>Hola les escribe <strong>{{name}} {{model.lastName}}</strong> mi email es <strong>{{model.email}}</strong> mi contacto es por lo siguiente:</h2>
        <h2><strong>{{model.message}}</strong></h2>
        <i class="massive rocket icon"></i>
           <div>
      <h3>Flattened Errors Array for Debugging</h3>
      <ul>
      {{#each message in debuggingErrors}}
        <li>{{message}}</li>
      {{/each}}
      </ul>
    </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui fluid form segment">
      <h3 class="ui header">Llene el Formulario</h3>
      <div class="two fields">
        <div class="field">
          <label>Nombre</label>
          {{input type="text" placeholder="Nombre" class="error" id="thing_name" value=name}}
           <div class="ui pointing label">Required field and minimum length (>=3).</div>
        </div>
        <div class="field">
          <label>Last Name</label>
          {{input valueBinding="model.lastName" placeholder="Apellido"}}
           <div class="ui pointing label">Required field and minimum length (>=3).</div>
        </div>
      </div>
      <div class="field">
		<label>Email</label>
		<div class="ui left icon input">
		  {{input valueBinding="model.email" placeholder="email@suemail.com"}}
		  <i class="mail icon"></i>
		</div>
      </div>
      <div class="field">
        <label>Mensaje</label>
        {{textarea valueBinding="model.message" id="message" name="message"}}
      </div>
      <div class="ui labeled blue toggle submit button" {{action 'Contacto' bind-attr disabled="isInvalid"}}><i class="mail icon"></i>Enviar</div>
      <button type="submit" class="btn btn-primary" {{bind-attr disabled="isInvalid"}}>Create</button>
      <div class="ui error message"></div>
    </div>
  </div>
</div>
</form>

 