<div class="ui page stackable segment animated fadeInUp">
	<div class="ui horizontal icon divider">
	  <i class="circular checkmark sign icon"></i>
	</div>
	  <div class="item">
	    <div class="content">
	    	<h1 class="herotext"><strong>Solo unos Datos para Contactarnos..</strong></h1>
	      <h2 class="ui statistic">Y pronto atenderemos y le responderemos.</h2>
	      <h2>{{model.firstName}}   {{model.lastName}}</h2>
	      <h2>{{model.email}}</h2>
	    </div>
	  </div>
	
	<div class="ui clearing divider"></div>
	<div class="ui form segment error">
	  <p>Vamos Si esta interesado, Estamos encantados de Atenderte. Por favor Llena el Formulario!</p>
	  
	  <div class="two fields">
	    <div class="field error">
	      <label>First Name</label>
	      <!--<input placeholder="Nombre" name="first-name" type="text">-->
	      {{input valueBinding="model.firstName" placeholder="Nombre"}}
	    </div>
	    <div class="field error">
	      <label>Last Name</label>
	      <!--<input placeholder="Apellido" name="last-name" type="text">-->
	      {{input valueBinding="model.lastName" placeholder="Apellido"}}
	    </div>
	  </div>
		<label>Email</label>
		<div class="ui left icon input">
		  
		  <!--<input type="text" placeholder="email@suemail.com"-->
		  {{input valueBinding="model.email" placeholder="email@suemail.com"}}
		  <i class="mail icon"></i>
		</div>	
		<div class="ui form">
	  <div class="field">
	    <label>Detalles</label>
	    <textarea></textarea>
	  </div>
	</div>
	  <br>	
	  <div class="ui clearing divider"></div> 
	  <!--<div class="ui blue submit button">Enviar</div>-->
	  <div class="ui blue submit button" {{action submitAction target="controller"}}>Enviar</div>
	</div>
</div>